@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="dropdown">
            <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-bs-toggle="dropdown" aria-expanded="false">
                @User.Identity?.Name
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li>
                    <a class="dropdown-item" class="nav-link" asp-controller="Account" title="Manage">Manage Account</a></li>
                <li>
                    <form class="form-inline" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="dropdown-item">Logout</button>
                    </form>
                </li>
            </ul>
        </div>

    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Account"  asp-controller="Account" asp-action="Login">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Account"  asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
</ul>
