@inherits LayoutComponentBase

<PageTitle>RoboRecords</PageTitle>

<div class="d-flex flex-column vh-100">
    <NavMenu/>

    <main class="container-fluid h-100">
        <article class="container d-flex align-items-center w-100 h-100">
            @Body
        </article>
    </main>

    <Footer></Footer>
</div>
