<li class="nav-item px-2 flex-grow-1">
    <form class="d-flex" role="search">
        <input class="form-control fs-5" type="search" placeholder="Search" aria-label="Search">
    </form>
</li>

@code {

}