@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

// Variables
$text: #fcf7f3; // Soft white for better readability
$background: #0c0703; // Deep navy blue background
$primary: #65a0d7; // Brighter, more vivid blue for primary elements
$secondary: #1c1107; // Softer secondary blue for a more subtle contrast and depth
$accent: #627484; // A gold hue for a premium feel and better visibility for CTA or highlights







// General Styling
body {
  font-family: 'Inter', Ubuntu,  sans-serif;
  background-color: $background;
  color: $text;
  margin: 0;
  padding: 0;
}

.bg-footer {
    background-color: $secondary;
}


.btn-outline-light {
  border-color: $secondary;
  color: $text;

  &:hover {
    background-color: $accent;
    color: $text;
  }
}
.bg-custom {
    background-color: $background;
}
.bg-primary-custom {
    background-color: $primary;
    
}
.bg-secondary-custom {
  background-color: $secondary;
}
.bg-accent-custom {
  background-color: $accent;
}