@model SearchGamesViewModel
@{
    ViewData["Title"] = "Games";
    //Random number for testing purposes. Remove this in production
    Random rnd = new Random();
}

    <div class="row">
        <!-- Search Sidebar -->
        <div class="col-12 col-lg-4 border-end">
            <div class="rounded h-100 border bg-secondary-custom p-3">
                <!-- Search By Game Name -->
                <div class="mb-3">
                    <form>
                        <input type="text" class="form-control mb-2" placeholder="Game Name">
                        <button type="submit" class="btn btn-primary w-100">Search</button>
                    </form>
                </div>
                <h5 class="text-center">Sort Options</h5>
                <hr/>
                <!-- Sort Options -->
                <div class="mb-2">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="sortOptions" id="mostRuns" value="mostRuns" checked>
                        <label class="form-check-label" for="mostRuns">
                            Most Runs
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="sortOptions" id="leastRuns" value="leastRuns">
                        <label class="form-check-label" for="leastRuns">
                            Least Runs
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="sortOptions" id="newest" value="newest">
                        <label class="form-check-label" for="newest">
                            Newest Released
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="sortOptions" id="oldest" value="oldest">
                        <label class="form-check-label" for="oldest">
                            Oldest Released
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="sortOptions" id="random" value="random">
                        <label class="form-check-label" for="random">
                            Random
                        </label>
                    </div>
                </div>

                <!-- Recently Played Games Section -->
                <div class="mb-0">
                    <h5 class="text-center">Recently Played</h5>
                    <hr/>
                    <div class="row gx-2">
                        @for (int i = 1; i < 4; i++)
                        {
                            <div class="col-12 mb-2">
                                <div class="card border-0 flex-row">
                                    <img src="~/imgs/demo-images/game@(i).png" class="rounded-start border-0 img-fluid" style="max-width: 192px;" alt="Game Image">
                                    <div class="card-body bg-custom rounded-end">
                                        <h6 class="card-title">Game Name</h6>
                                        <p class="card-text">
                                            <small class="text-muted">Ran 2 hours ago</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <!-- Games Column -->
        <div class="col-12 mt-2 mt-lg-0 col-lg-8">
            <div class="h-100 p-3 border rounded bg-secondary-custom">
                <!-- New Game / TODO: Make this only selectable by administrators. --> 
                <div class="d-flex align-items-center justify-content-center position-relative">
                    <h2 class="text-center display-2">Games</h2>
                    <div class="position-absolute top-50 end-0 translate-middle-y">
                        <a href="@Url.Action("New","Games")" class="btn btn-lg btn-primary d-flex align-items-center">
                            <p class="mb-0">Add Game</p>
                            <i class="bi bi-plus-circle ms-2"></i>
                        </a>
                    </div>
                </div>
                <!-- Main Grid -->
                <div class="d-flex align-items-center">
                    <div class="row gy-2 gx-2">
                        @foreach (var game in Model.Games)
                        {
                            <div class="game-entry col-sm-6 col-md-4 animate__animated animate__fadeIn">
                                <a href="#" class=" text-decoration-none">
                                    <div class="card bg-custom rounded border-0 ">
                                        <img src="@game.GameImagePath" class="img-fluid rounded-top-3" style="height:154px;">
                                        <div class="card-body rounded border-top-0 rounded-top-0 border ">
                                            <h4 class="card-text text-center">@game.Title</h4>
                                            <p class="mb-0">@rnd.Next(10) runs</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }
                    </div>
                </div>
                <div class="mt-3 d-flex align-items-center justify-content-center">
                    <nav class="mt-auto">
                        <ul class="pagination mb-0 justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">1</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">3</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

<script src="~/js/games.js"></script>