@model NewGameViewModel
@{
    ViewData["Title"] = "New Game";
}

<div class="row justify-content-center h-100">
    <div class="col-md-8">
        <div class="p-1 mb-4 bg-body-tertiary border rounded-3">
            <div class="container-fluid py-4">
                <h1 class="text-center">Create Game</h1>
            </div>
        </div>
    </div>
</div>

 