
@if (!_loggedIn)
{
    <div class="d-flex justify-content-center gap-2">
        <a class="nav-link fs-5">
            <i class="bi bi-pencil-square me-1"></i>
            Register
        </a>
        <a class="nav-link fs-5">
            <i class="bi bi-box-arrow-in-right me-1"></i>
            Login
        </a>
    </div>
}
 

@code {
    bool _loggedIn = false;
}